.body {
  color: whitesmoke;
  background-color: #333;
  min-height: 100vh;
  overflow-y: auto;
  padding-top: 2em;
  min-width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.light {
  color: #333;
  background-color: rgb(222, 222, 222);
  min-height: 100vh;
  padding-top: 2em;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.buttonLight {
  color: whitesmoke;
  background-color: #333;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 4em;
}
.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
  background-color: transparent;
}
button {
  padding: 0.5em;
  width: 7em;
  height: 4em;
  font-weight: bold;
  border-radius: 3em;
}
@keyframes pressButton {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.themeButtonColorLight {
  color: #333;
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 10px;
  background-color: transparent;
  border: none;
}
.themeButtonColorDark {
  color: whitesmoke;
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 10px;
  background-color: transparent;
  border: none;
}
.buttonPress {
  animation: pressButton 0.5s ease-in-out forwards;
}
.searchInput {
  display: flex;
  position: relative;
  justify-content: center;
}
.searchButton {
  position: absolute;
  right: 0%;
  top: -10%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.searchInput input {
  width: 60vw;
  box-shadow: 1px 1px 20px #ffffffb4;
  border: none;
  outline: none;
  transition: 0.1s ease-in-out;
}
.searchInput input:focus {
  transform: scale(1.05);
  box-shadow: none;
}
.searchInput:focus-within > .searchButton {
  transform: scale(1.1);
}
.searchTextbox {
  box-shadow: 1px 1px 10px #1d1d1db3;
}
section {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  width: 90%;
}
section main {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  width: 30%;
  height: 15em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #1c1b1b8e;
  font-family: sans-serif;
}
h2 {
  text-align: left;
  font-size: 1.7em;
}
ul {
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  gap: 1em;
}
.jobSpan {
  color: whitesmoke;
  font-size: 1.2em;
}
a {
  color: whitesmoke;
}
