.body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #333;
}
.light {
  color: #333;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.buttonLight {
  color: whitesmoke;
  background-color: #333;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}
.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
  background-color: transparent;
}
button {
  padding: 0.5em;
  width: 7em;
  height: 4em;
  font-weight: bold;
  border-radius: 3em;
}
@keyframes pressButton {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.themeButtonColorLight {
  color: #333;
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 10px;
  background-color: transparent;
  border: none;
}
.themeButtonColorDark {
  color: whitesmoke;
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 10px;
  background-color: transparent;
  border: none;
}
.buttonPress {
  animation: pressButton 0.5s ease-in-out forwards;
}
